h3 JSON Data Source

p The JSON Data Source simply loads JSON data from a web URL.  KyoDash implements a reverse-proxy to
    | avoid cross-origin resource sharing (CORS) issues.  Under the covers it uses the 
    a(href='https://github.com/mikeal/request', target='_blank') Request library
    | , and the full list of options can be set in KyoDash for more advanced requests.

P Please note that it may be necessary to set the optional 
    em proxy 
    | property in the Data Source in order to access web sites or services in other domains.  
    | This property lists other KyoDash servers which may have the required connectivity.
    | By default, this Data Source uses the current KyoDash environment to proxy the request.

p Examples of the JSON Data Source are available on the 
    a(href='/example-datasource-json') example-datasource-json
    |  dashboard

property-table(properties='config.dashboard.properties.dataSources.options.json.properties')

h4 Pre-Processor

p The JSON Data Source supports an optional pre-processor function that will be called before
    | the Data Source executes.  For more details, see the main Data Sources page.

h4 Post-Processor

p The JSON Data Source supports an optional post-processor function that will be called after
    | data is loaded.  For more details, see the main Data Sources page.
